/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
  --color-background: #f9fafb;
  --dark-color-background: #111827;
}

[class='dark'] {
  --color-background: var(--dark-color-background);
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    @apply font-sans;
    background-color: var(--color-background);
  }
}
